* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  background-image: url(../../imagenes/fondo.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

header {
  background: linear-gradient(180deg, rgb(78, 3, 20) 0%, rgb(94, 3, 20) 100%);
}

.header__img {
  padding: 2rem 5rem;
}

.box__shadow {
  box-shadow: 1px -1px 12px 4px #ffffff;
  -webkit-box-shadow: 1px -1px 12px 4px #ffffff;
  -moz-box-shadow: 1px -1px 12px 4px #ffffff;
}

.margin__center {
  margin: 0rem auto;
}

.nav__img {
  width: 23rem;
  height: 10rem;
  opacity: 0.85;
}
.nav__img:hover {
  transform: scale(1.2);
  transition: all 2s;
}

ul {
  list-style-type: none;
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

a {
  color: inherit;
  margin: 0px 3rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

li:hover {
  transform: scale(1.5, 1.5);
  transition: all 1.5s;
}

.header__redes {
  width: 15%;
}

.nav__iconoSociales {
  width: 2.5rem;
  height: 2.5rem;
}

.nav__iconoSociales:hover {
  transform: scale(1.8, 1.8);
  transition: all 1.5s;
}

.article__titulo {
  padding: 5rem 5rem;
  font-size: 4rem;
}

.article__img {
  margin-left: 5rem;
  margin-top: 1rem;
  border-radius: 4rem;
  animation: slideInLeft;
  animation-duration: 2.5s;
}

.section__parrafo {
  padding-left: 7rem;
  position: relative;
  bottom: 12rem;
  font-weight: 400;
  animation: slideInLeft;
  animation-duration: 2.5s;
}

.sponsor__img {
  width: 20rem;
  height: 45rem;
  animation: slideInRight;
  animation-duration: 2.5s;
}

.subnoti__img {
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 30rem;
  height: 25rem;
  border-radius: 3rem;
  border: solid 0.35rem aliceblue;
  animation: flipInY;
  animation-duration: 2s;
}

.subnoti__parrafo {
  margin: 5rem;
}

.section__cuenta {
  border: outset 0.5rem #ffffff;
  background: rgb(78, 3, 20);
  background: linear-gradient(180deg, rgb(78, 3, 20) 0%, rgb(0, 0, 0) 100%);
}

.titulo__cuenta {
  margin: 1rem;
  font-size: large;
}

.cuenta__regresiva {
  margin: 3rem auto;
}

.cuenta__numeros {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: aliceblue;
  padding: 2rem 2rem;
  border-radius: 50%;
  border: solid 0.2rem rgb(104, 102, 102);
  text-shadow: none;
}

#img__grupos {
  width: 100%;
  height: 100%;
}

.main-container-estadios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-shadow: 1px 0px 1px rgb(0, 0, 0);
  color: inherit;
  font-size: 1.6rem;
}

.main__videos {
  margin: 2rem;
}

.main__parrafos {
  width: 55%;
  margin: 2rem;
  background: rgb(158, 10, 44);
  background: radial-gradient(circle, rgb(158, 10, 44) 0%, rgb(0, 0, 0) 89%);
  border: double 0.5rem aliceblue;
}
.main__parrafos p {
  margin: 0rem auto;
}

.main-container-aficion {
  display: flex;
  flex-wrap: unset;
  justify-content: center;
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

.main__img {
  width: 33%;
  display: flex;
  justify-content: space-betweem;
  align-items: center;
  margin: 1rem 1rem;
  border-radius: 5rem;
  border-style: outset;
}

.img_aficion {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}

.main-container-participa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 0px 1px rgb(0, 0, 0);
  color: aliceblue;
  font-size: 2rem;
  padding: 2rem;
}

.participa__titulo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.participa__form {
  width: 65%;
}

.participa__titulo h2 {
  margin: 0rem auto;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0rem;
  border: solid 0.5rem #daa301;
  border-radius: 2rem;
  background: rgb(158, 10, 44);
  background: linear-gradient(175deg, rgb(158, 10, 44) 56%, rgb(104, 102, 102) 100%);
}

.text__form {
  margin: 0rem auto;
}

.form__input {
  margin: 2rem auto;
  width: 100%;
  height: 3rem;
}

#btn {
  margin: 2rem auto;
  width: 12rem;
  border-radius: 1rem;
}

#buttom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: #e0528b;
  color: rgb(0, 0, 0);
}

.footer__li {
  text-decoration: none;
  text-shadow: none;
  font-size: small;
}

.footer_enlace {
  text-decoration: none;
  font-size: small;
}

.footer__ul li:hover {
  transform: scale(1.5, 1.5);
  transition: all 2s;
}

.patrocinio__titulo {
  padding: 1rem;
}

.patrocinio__img {
  padding: 3rem 0px;
}

.img__patrocinio {
  width: 5rem;
  height: 5rem;
  margin: 0px 2rem;
}

@media screen and (max-width: 1024px) {
  img.article__img {
    margin: 0rem auto;
    width: 98%;
  }
  h1.article__titulo {
    font-size: 4rem;
  }
  img.subnoti__img {
    margin: 0rem auto;
  }
  p.subnoti__parrafo {
    font-size: 1.2rem;
  }
  div.patrocinio__width {
    width: 70%;
  }
  div.politicas__width {
    width: 30%;
  }
  h3.politicas {
    font-size: 1.2rem;
  }
  div iframe {
    width: 700px;
    height: 318px;
  }
  div.main__parrafos {
    font-size: 1.2rem;
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  body {
    margin: 0rem auto;
  }
  a {
    font-size: 1.2rem;
    margin: 0rem auto;
    padding: 1rem;
  }
  h1.article__titulo {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  .section__parrafo {
    padding-left: 0rem;
    position: inherit;
    bottom: 0rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .subnoti__parrafo {
    font-size: 1.2rem;
  }
  img.subnoti__img {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img.img__patrocinio {
    width: 1.5rem;
    height: 1.5rem;
  }
  img.g1 {
    display: none;
  }
  h5.titulo__cuenta {
    font-size: 1.2rem;
  }
  p.numeros {
    font-size: 1.2rem;
  }
  div.patrocinio__titulo {
    font-size: 1.2rem;
  }
  div.politicas__width {
    font-size: 1.2rem;
  }
  div iframe {
    width: 100%;
    height: 218px;
  }
  div.main__parrafos {
    font-size: 1.2rem;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
