*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color:#ffffff;
    background-image: url(imagenes/fondo.jpeg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* header */

header{
    background: linear-gradient(180deg, rgba(78,3,20,1) 0%, rgba(94,3,20,1) 100%);
}

.header__img {
    padding: 2rem 5rem;
}

.box__shadow {
    box-shadow: 1px -1px 12px 4px #ffffff;
    -webkit-box-shadow: 1px -1px 12px 4px #ffffff;
    -moz-box-shadow: 1px -1px 12px 4px #ffffff;
}

.margin__center {
    margin: 0rem auto;
}

.nav__img {
    width: 23rem;
    height: 10rem;
    opacity: 0.85;
}

.nav__img:hover {
    transform: scale(1.2);
    transition: all 2s;
}

ul {
    list-style-type: none;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

a {
    color: inherit;
    margin: 0px 3rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}
    li:hover {
    transform: scale(1.5,1.5);
    transition: all 1.5s;
}

.header__redes {
    width: 15%;
    
}

.nav__iconoSociales{
    width: 2.5rem;
    height: 2.5rem;
}

.nav__iconoSociales:hover{
    transform: scale(1.8,1.8);
    transition: all 1.5s;
}

/* Body */

.main-container {
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

/* section Noticia Principal y publi */

.article__titulo {
    padding: 5rem 5rem;
    font-size: 4rem;
}

.article__img {
    margin-left:5rem;
    margin-top: 1rem;
    border-radius: 4rem;
    animation: slideInLeft;
    animation-duration: 2.5s;
}

.section__parrafo {
    padding-left: 7rem ;
    position: relative;
    bottom: 12rem;
    font-weight: 400;
    animation: slideInLeft;
    animation-duration: 2.5s;
}

.sponsor__img {
    width: 20rem;
    height: 45rem;
    animation: slideInRight;
    animation-duration: 2.5s;    
}

/* Section Subnoticias */

.subnoti__img {
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30rem;
    height: 25rem;
    border-radius: 3rem;
    border: solid 0.35rem aliceblue;
    animation: flipInY;
    animation-duration: 2s;
}

.subnoti__parrafo {
    margin: 5rem;
}

/* Cuenta Regresiva */
  
.section__cuenta {
    border: outset 0.5rem #ffffff;
    background: rgb(78,3,20);
    background: linear-gradient(180deg, rgba(78,3,20,1) 0%, rgba(0,0,0,1) 100%);
}
.titulo__cuenta {
    margin: 1rem;
    font-size: large;
}
.cuenta__regresiva {
    margin: 3rem auto;
}  
.cuenta__numeros { 
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #eeeeee;
    padding: 2rem 2rem;
    border-radius: 50%;
    border: solid 0.2rem rgb(104, 102, 102);
    text-shadow: none;   
}

/* Footer */

.footer-container {
    background-color: #e0528b;
    color: black;
}

.footer__li {
    text-decoration: none;
    text-shadow: none;
    font-size: small;
   
}

.footer_enlace {
    text-decoration: none;
    font-size: small;
    
}





.footer__ul li:hover {
    transform: scale(1.5, 1.5);
    transition: all 2s;
  }

.img__patrocinio{ 
    width: 5rem;
    height: 5rem;
    margin: 0px 2rem;
}

.patrocinio__titulo {
    padding: 1rem;
}

.patrocinio__img {
    padding: 3rem 0px;
}

/* grupos page */

#img__grupos {
    width: 100%;
    height: 100%;
}

/* aficion-page */

.main-container-aficion {
    display: flex;
    flex-wrap:unset;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
        
}

.main__img {
    width: 33%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    border-radius: 5rem;
    border-style: outset;
    
}

.img_aficion {
    width: 100%;
    height: 100%;
    border-radius: 5rem;
}

/* estadios-page */

.main-container-estadios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 1px 0px 1px rgb(0, 0, 0);
    color: inherit;
    font-size: 1.5rem;
        
}

.main__videos {
    margin: 2rem;
}

.main__parrafos {
    width: 55%;
    margin: 2rem;
    background: rgb(158,10,44);
    background: radial-gradient(circle, rgba(158,10,44,1) 0%, rgb(32, 32, 32) 89%); 
    border: double 0.5rem #fcf8f9;
    
}

.main__parrafos p {
    margin: 0rem auto;
}

/* participa-page */

.participa__titulo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-container-participa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 0px 1px rgb(0, 0, 0);
    color: #c7b9bf;
    font-size: 2rem;
    padding: 2rem;
}

.participa__form {
    width: 65%;
}

.participa__titulo h2 {
    margin: 0rem auto;
    
}

.formulario {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0rem;
    border: solid 0.5rem #daa301;
    border-radius: 2rem;
    background: rgb(158,10,44);
    background: linear-gradient(175deg, rgba(158,10,44,1) 56%, rgba(138,149,151,1) 100%);
}

.text__form {
margin: 0rem auto
}

.form__input {
    margin: 2rem auto;
    width: 100%;
    height: 3rem;
}

#btn {
    margin: 2rem auto;
    width: 12rem;
    border-radius: 1rem;
}

#buttom {
    display: flex;
    justify-content: center;
}

/* Media Query */

@media (max-width: 1024px){
    img.article__img {
        margin: 0px auto;
        width: 98%;
    }
    h1.article__titulo{
        font-size: 3.5rem;
    }
    img.subnoti__img {
        margin: 0px auto;
    }
    p.subnoti__parrafo{
        font-size: 1.3rem;
    }
    div.patrocinio__width {
        width: 70%;
    }
    div.politicas__width {
        width: 30%;
    }
    h3.politicas {
        font-size: 1.4rem;
    }
}

@media (max-width: 320px) {
    body {
        margin:0px auto;
    }
    a{
        font-size: 1.2rem;
        margin: 0px auto;
        padding: 1rem;
    }
    h1.article__titulo {
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
    }
    .section__parrafo{
        padding-left: 0rem ;
        position: inherit;
        bottom: 0rem;
        font-size: 1rem;
        margin-top: 2rem; 
        margin-bottom: 2rem;
    }
    .subnoti__parrafo {
        font-size: 1.2rem;
    }
    img.subnoti__img {
        width: 15rem;
        height: 15rem;
        display: flex;
        justify-content: center;
    }
    img.img__patrocinio {
        width: 1.5rem;
        height: 1.5rem;
    }
    img.g1 {
        display: none;
    }
}
 