@import '../base/variables';
@import '../base/listas';
@import '../base/mixin';

.main-container-aficion {
    @include display-wrap(flex, unset, center);
    text-shadow: 3px 2px 3px nth($colores, 2 );
}

    .main__img {
        width: 33%;
        @include display-flex(flex, space-betweem, center);
        margin: 1rem 1rem;
        border-radius: 5rem;
        border-style: outset;
    
    }

    .img_aficion {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
    }