@import '../base/variables';

.main-container-estadios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 1px 0px 1px rgb(0, 0, 0);
    color: inherit;
    font-size: 1.5rem;
}
    .main__videos {
        margin: 2rem;
    }

    .main__parrafos {
        width: 55%;
        margin: 2rem;
        background: rgb(158,10,44);
        background: radial-gradient(circle, rgba(158,10,44,1) 0%, rgb(32, 32, 32) 89%); 
        border: double 0.5rem #fcf8f9;

        & p {
            margin: 0rem auto;
        }
        
    }

      