@import '../base/variables';

.footer-container {
    background-color: #e0528b;
    color: black;
}

    .footer__li {
        text-decoration: none;
        text-shadow: none;
        font-size: small;
    }

        .footer_enlace {
            text-decoration: none;
            font-size: small;
        }

            .footer__ul li:hover {
            transform: scale(1.5, 1.5);
            transition: all 2s;
            }
    
    .patrocinio__titulo {
        padding: 1rem;
    }

        .patrocinio__img {
            padding: 3rem 0px;
        }

        .img__patrocinio{ 
            width: 5rem;
            height: 5rem;
            margin: 0px 2rem;
        }
    