@import '../base/variables';
@import '../base/listas';

header {
    background: $bg-color-header;
}
    .header__img {
        padding: 2rem 5rem;
    }

    .box__shadow{
        box-shadow: 1px -1px 12px 4px nth($colores, 1 );
        -webkit-box-shadow: 1px -1px 12px 4px nth($colores, 1 );
        -moz-box-shadow: 1px -1px 12px 4px nth($colores, 1 ); ;
    }

    .margin__center {
        margin: $margin-center;
    }

    .nav__img {
        width: 23rem;
        height: 10rem;
        opacity: 0.85;

        &:hover {
            transform: scale(1.2);
            transition: all 2s;
        }
    }

    ul {
        list-style-type: none;
        text-shadow: 3px 2px 3px nth($colores, 2 );
    }
        a{
            color: inherit;
            margin: 0px 3rem;
            text-decoration: none;
            font-weight: bold;
            font-size: nth($font-size, 3 );
        }
            li:hover {
                transform: scale(1.5,1.5);
                transition: all 1.5s;
            }
    
    .header__redes {
        width: 15%;
    }

    .nav__iconoSociales{
        width: 2.5rem;
        height: 2.5rem;
    }

    .nav__iconoSociales:hover{
        transform: scale(1.8,1.8);
        transition: all 1.5s;
    }
