@import '../base/_variables';

.article__titulo {
    padding: 5rem 5rem;
    font-size: 4rem;
}

    .article__img {
        margin-left:5rem;
        margin-top: 1rem;
        border-radius: 4rem;
        animation: slideInLeft;
        animation-duration: 2.5s;
    }

        .section__parrafo {
            padding-left: 7rem ;
            position: relative;
            bottom: 12rem;
            font-weight: 400;
            animation: slideInLeft;
            animation-duration: 2.5s;
        }

.sponsor__img {
    width: 20rem;
    height: 45rem;
    animation: slideInRight;
    animation-duration: 2.5s;    
}


.subnoti__img {
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30rem;
    height: 25rem;
    border-radius: 3rem;
    border: solid 0.35rem aliceblue;
    animation: flipInY;
    animation-duration: 2s;
}

    .subnoti__parrafo {
        margin: 5rem;
    }


.section__cuenta {
    border: outset 0.5rem #ffffff;
    background: rgb(78,3,20);
    background: linear-gradient(180deg, rgba(78,3,20,1) 0%, rgba(0,0,0,1) 100%);
}

    .titulo__cuenta {
        margin: 1rem;
        font-size: large;
    }

    .cuenta__regresiva {
        margin: 3rem auto;
    }

    .cuenta__numeros { 
        font-size: 2rem;
        color: rgb(0, 0, 0);
        font-weight: bold;
        background-color: #eeeeee;
        padding: 2rem 2rem;
        border-radius: 50%;
        border: solid 0.2rem rgb(104, 102, 102);
        text-shadow: none;   
    }

