@import '../base/variables';
@import '../base/listas';

.article__titulo {
    padding: 5rem 5rem;
    font-size: nth($font-size,4);
}

    .article__img {
        margin-left:5rem;
        margin-top: 1rem;
        border-radius: 4rem;
        animation: slideInLeft;
        animation-duration: 2.5s;
    }

        .section__parrafo {
            padding-left: 7rem ;
            position: relative;
            bottom: 12rem;
            font-weight: 400;
            animation: slideInLeft;
            animation-duration: 2.5s;
        }

.sponsor__img {
    width: 20rem;
    height: 45rem;
    animation: slideInRight;
    animation-duration: 2.5s;    
}


.subnoti__img {
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30rem;
    height: 25rem;
    border-radius: 3rem;
    border: solid 0.35rem nth($colores ,4 );
    animation: flipInY;
    animation-duration: 2s;
}

    .subnoti__parrafo {
        margin: 5rem;
    }


.section__cuenta {
    border: outset 0.5rem nth($colores, 1 );
    background: nth($colores, 3 );
    background: linear-gradient(180deg, nth($colores, 3) 0%, nth($colores, 2) 100%);
}

    .titulo__cuenta {
        margin: 1rem;
        font-size: large;
    }

    .cuenta__regresiva {
        margin: 3rem auto;
    }

    .cuenta__numeros { 
        font-size: nth($font-size, 3 );
        color: nth($colores,2 );
        font-weight: bold;
        background-color: nth($colores , 4 );
        padding: 2rem 2rem;
        border-radius: 50%;
        border: solid 0.2rem nth($colores, 5 );
        text-shadow: none;   
    }