@import '../base/variables';
@import '../base/listas';


@media screen and (max-width: 1024px){
    img.article__img {
        margin: $margin-center;
        width: 98%;
    }
    h1.article__titulo{
        font-size: nth($font-size,4);
    }
    img.subnoti__img {
        margin: $margin-center;
    }
    p.subnoti__parrafo{
        font-size: nth($font-size, 1 );
    }
    div.patrocinio__width {
        width: 70%;
    }
    div.politicas__width {
        width: 30%;
    }
    h3.politicas {
        font-size: nth($font-size,1);
    }
    div iframe {
        width: 700px;
        height: 318px;
    }

    div.main__parrafos {
        font-size: nth($font-size, 1  );
        width: 80%;
    }
}

@media screen and (max-width: 425px) {

    body {
        margin:$margin-center;
    }

    /* index */
    a{
        font-size: nth($font-size,1  );
        margin: $margin-center;
        padding: 1rem;
    }
    h1.article__titulo {
        font-size: nth($font-size, 3  );
        display: flex;
        justify-content: center;
    }
    .section__parrafo{
        padding-left: 0rem ;
        position: inherit;
        bottom: 0rem;
        font-size: nth($font-size, 1 );
        margin-top: 2rem; 
        margin-bottom: 2rem;
    }
    .subnoti__parrafo {
        font-size: nth($font-size, 1 );
    }
    img.subnoti__img {
        width: 15rem;
        height: 15rem;
        @include display-flex(flex, center, center);
    }
    img.img__patrocinio {
        width: 1.5rem;
        height: 1.5rem;
    }
    img.g1 {
        display: none;
    }

    h5.titulo__cuenta{
        font-size: nth($font-size, 1 );
    }

    p.numeros {
        font-size: nth($font-size,1  );
    }

    div.patrocinio__titulo {
        font-size: nth($font-size, 1 );
    }
    
    div.politicas__width {
        font-size: nth($font-size, 1 );
    }

    /* estadios */

    div iframe {
        width: 100%;
        height: 218px;
    }

    div.main__parrafos {
        font-size: nth($font-size, 1 );
        width: 100%;
    }

    /* grupos */

    #img-grupos {
        height: 200%;
    }

    /* participa */

    .parrafo__participa {
        display: none;
    }

    .participa__form {
        width: 100%;
    }

    .form__input {
        width: 100%;

    }

    .participa__titulo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    /* aficion */

    .main-container-aficion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-shadow: 3px 2px 3px nth($colores, 2 );
    }
    
    .main__img {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        
            
    }
}